body {
  margin: 30px;
  background: url(download.jpeg);
}
.my-container {
  border: 1px solid green;
}

.my-row {
  border: 3px solid red;
  height: 300px;
}

.my-col {
  border: 3px dotted blue;
}

.modal-content {
  background-color: #3638cf;
  color: azure;
  font-weight: bold;
}

.modal-title,.modal-body, 
#title, #title-description, #center-this-element, #reset-all, #sticky {
  text-align: center;
}
